
  $defaultFontColor:#2c2c2c;
  $defaultBackColor:#fff;
  $defaultOtherColor:#db5a6b;

  $pinkFontColor:#fff;
  $pinkBackColor:#db5a6b;
  $pinkOtherColor:#fff;
body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}